.container{
    margin-left: 140px ;
    font-family: 'Poppins', sans-serif;
}
h1{
    color: indigo;
    text-align: center;
}
p{
    background-color: rgb(247, 190, 86);
    margin: 30px;
    padding: 12px;
}